<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2.2.1 文本</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h3>文本框和文本域</h3> <input type="text" v-model="msg">
        <p>{{ msg }}</p>
        <textarea v-model="content" cols="20" rows="4"></textarea>
        <span>文本域内容：{{ content }}</span>
    </div>
    <script>
        new Vue({
            el: "#app",
            data: function () {
                return {
                    msg: '',
                    content: ''
                }
            }
        })
    </script>
</body>

</html>